{{extend "test.html"}}

{{block stylecss}}
<style type="text/css">
  div[contentEditable] {
    cursor: pointer;
    background-color: #D0D0D0;
  }
</style>
{{end stylecss}}

{{block content}}
<div contentEditable="true" ng-model="content" title="Click to edit">Some</div>
<pre>model = {%content%}</pre>
{{end content}}

{{block script}}
<script>
app.directive('contenteditable', function() {
  return {
    require: 'ngModel',
    link: function(scope, elm, attrs, ctrl) {
      // view -> model
      elm.bind('blur', function() {
        scope.$apply(function() {
          ctrl.$setViewValue(elm.html());
        });
      });

      // model -> view
      ctrl.$render = function(value) {
        elm.html(value);
      };

      // load init value from DOM
      ctrl.$setViewValue(elm.html());
    }
  };
});

</script>
{{end script}}
